@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0;
}

body {
  box-sizing: border-box;
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"],
input[type="tel"],
textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

button {
  @apply bg-sky-500 p-2 w-full text-white rounded-2xl;
}


.react-calendar button {
  @apply text-sky-500
}


.react-calendar .react-calendar__tile--active {
  @apply text-sky-900;
}


.text-ellipsis {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}


